<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Servlet Declarations -->
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.servlet.AddProductServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>com.servlet.UpdateProductServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.servlet.DeleteProductServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <servlet-class>com.servlet.DisplayProductsServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>com.servlet.ReportServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ReportCriteriaServlet</servlet-name>
        <servlet-class>com.servlet.ReportCriteriaServlet</servlet-class>
    </servlet>
    
    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <url-pattern>/displayProducts</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ReportCriteriaServlet</servlet-name>
        <url-pattern>/reportCriteria</url-pattern>
    </servlet-mapping>
    
    <!-- Optional: Error pages for better user experience -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <!-- Optional: Context parameters (e.g., database config) -->
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/productdb?useSSL=false&amp;serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>password</param-value>
    </context-param>
    
</web-app>